bucket       = "replace-with-bootstrap-output"
region       = "eu-west-3"
profile      = "your-local-profile"
key          = "ecom/dev/terraform.tfstate"
encrypt      = true
kms_key_id   = "replace-with-bootstrap-kms-key-arn"
use_lockfile = true
